.page {
  background-color: rgb(31, 79, 119);
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  margin-top: 40px;
  text-align: center;
  font-family: Verdana, sans-serif;
  color: rgb(118, 204, 204);
}

.info {
  font-family: Tahoma, sans-serif;
  color: rgba(229, 255, 252, 0.8);
  margin: 10px 20px;
}

.text {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.06em;
  color: rgb(48, 90, 90);
  margin: 20px 20px;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  resize: vertical;
  min-height: 120px;
  max-height: 500px;
}

/* custom scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(185, 231, 226);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgb(118, 204, 204);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(95, 163, 163);
}

.keyboard__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyboard__keys-container {
  user-select: none;
  width: 960px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.keyboard__row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.keyboard__button {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  border: 1px solid rgb(101, 155, 155);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s;
}

.keyboard__button:hover {
  background-color: rgba(101, 155, 155, 0.3);
}

.keyboard__button:active,
.active,
.capsON {
  position: relative;
  top: 3px;
  background-color: rgba(101, 155, 155, 0.15);
  -webkit-box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.2);
}

.key-backspace {
  min-width: 130px;
}

.key-tab,
.key-del,
.key-win,
.key-alt,
.key-ctrl {
  min-width: 70px;
}

.key-capslock {
  min-width: 110px;
}

.key-enter {
  min-width: 100px;
}

.key-shift {
  min-width: 128px;
}

.key- {
  min-width: 368px;
}
